/* Estilos Generales */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #333; /* Cambiado a gris oscuro */
    background-color: #f5f5f5; /* Cambiado a gris claro */
}

.container-header {
    background-color: #eaeaea; /* Cambiado a gris claro */
    color: #333; /* Cambiado a gris oscuro */
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-header h1 {
    margin: 0 20px;
    font-size: 2.8em;
    color: #333; /* Gris oscuro */
}

.nombre-h1 {
    letter-spacing: 1.3rem;
    word-spacing: 3rem;
}

/* Estilos del Carrusel */

.carrusel-container {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    padding: 20px;
    scroll-snap-type: x mandatory;
}

.carrusel-img {
    flex: 0 0 auto;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrusel-img:last-child {
    margin-right: 0;
}

.carrusel-img img {
    max-height: 80vh;
    object-fit: contain;
}

/* Estilos de la Galería */

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.gallery-photo {
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    overflow: hidden;
    max-width: 300px; /* Tamaño original para pantallas grandes */
}

.gallery-photo img {
    width: 95%;
    border: 1.5px solid black;
    object-fit: contain;
}

.gallery-photo:hover {
    transform: scale(1.05);
}

/* Estilos del Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
}

.modal-content {
    max-width: 99%;
    max-height: 99vh;
    margin: auto;
    display: block;
    align-items: center;
    object-fit: contain;
}

.modal-close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #faf8f5;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* Estilos de la Sección de Información del Modelo */

.model-info {
    background-color: #eaeaea; /* Gris claro */
    color: #333; /* Gris oscuro */
    padding: 20px;
    text-align: center;
    margin: 20px 0;
    font-size: 1.8em;
}

.model-info-text {
    font-size: 3em;
    margin: 10px 0;
    vertical-align: middle;
}

/* Estilos para los enlaces y los íconos en la sección de información */

.social-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%; /* Espacio aumentado entre los enlaces */
}

.model-info a, .model-info .fa-instagram, .model-info .fa-envelope {
    color: #333; /* Gris oscuro */
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    font-size: 1em; /* Tamaño uniforme para los enlaces y los íconos */
    vertical-align: middle; /* Asegura que los íconos estén alineados verticalmente con el texto */
}

.model-info .fa-instagram, .model-info .fa-envelope {
    margin-right: 16px; /* Espacio entre ícono y texto */
}

.model-info a:hover, .model-info .fa-instagram:hover, .model-info .fa-envelope:hover {
    transform: scale(1.05);
    color: #d4af37; /* Dorado para hover */
}

/* Estilos del Footer */

.site-footer {
    background-color: #eaeaea; /* Color de fondo gris claro para coincidir con el sitio */
    color: #333; /* Color de texto gris oscuro */
    font-size: 1.2em;
    padding: 10px 0;
    text-align: center; /* Centrar el contenido del footer */
    font-family: 'Open Sans', sans-serif; /* Asegúrate de que la fuente coincida con el sitio */
}

/* Media Queries para Responsividad */

@media (max-width: 768px) {
.container-header h1 {
    font-size: 2em;
}

.nombre-h1 {
    letter-spacing: 0.5rem;
    word-spacing: 5px;
}

.carrusel-container {
    justify-content: flex-start;
}

.carrusel-img {
    width: 100%;
}

.gallery-photo {
    max-width: 150px;
    vertical-align: middle;
}

.modal-content {
    max-width: 95%;
    max-height: 95vh;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.modal-content, .modal-close {
    width: 90%;
    max-width: 400px;
}

.site-footer {
    font-size: 0.7em;
}

.model-info {
    font-size: 1.3em;
}

.social-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%; /* Espacio aumentado entre los enlaces */
}

.social-contact a, .social-contact .fa-instagram, .social-contact .fa-envelope {
    font-size: 0.8em; /* Tamaño reducido para enlaces e íconos */
}

}

@media (max-width: 480px) {

.carrusel-container {
    justify-content: flex-start; /* Alinea las imágenes al inicio */
}

.container-header h1 {
    font-size: 1.8em;
}

.nombre-h1 {
    letter-spacing: 0.25rem;
    word-spacing: 3px;
}

.carrusel-img img {
    max-height: 60vh;
}

.modal-content {
    max-width: 95%;
    max-height: 95vh;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.gallery-photo {
    max-width: 95%; /* Cambiar para que cada foto ocupe el ancho completo */
    margin: 0 auto; /* Centrar la imagen en el contenedor */
}

.gallery-photo-ocultas {
    max-width: 95%; /* Cambiar para que cada foto ocupe el ancho completo */
    margin: 0 auto; /* Centrar la imagen en el contenedor */
}

.gallery-photo-ocultas {
    width: 95%; /* La imagen ocupa todo el ancho del contenedor */
}

.gallery-photo img {
    width: 95%; /* La imagen ocupa todo el ancho del contenedor */
}

.site-footer {
    font-size: 0.85em;
}

.model-info {
    font-size: 1em;
}

.social-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%; /* Espacio aumentado entre los enlaces */
}

.social-contact a, .social-contact .fa-instagram, .social-contact .fa-envelope {
    font-size: 0.8em; /* Tamaño reducido para enlaces e íconos */
}

.social-contact a, .social-contact .fa-instagram, .social-contact .fa-envelope {
    font-size: 0.8em; /* Más reducción para enlaces e íconos */
}

}