/* Estilos Generales */

body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    color: #333; /* Cambiado a gris oscuro */
    background-color: #f5f5f5; /* Cambiado a gris claro */
}

.container-header {
    background-color: #eaeaea; /* Cambiado a gris claro */
    color: #333; /* Cambiado a gris oscuro */
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-header h1 {
    margin: 0 20px;
    font-size: 2.5em;
    color: #333; /* Gris oscuro */
}

.social-links {
    display: flex;
    align-items: center;
    margin: 0;
}

.social-links a {
    margin: 0 10px;
    color: #333; /* Gris oscuro */
    font-size: 2.4em;
}

.social-links a:hover {
    color: #d4af37; /* Dorado para hover */
}

/* Estilos del Menú de Navegación */

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-item {
    display: inline;
    margin-right: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 35px;
}

/* Estilos del Carrusel */

.carrusel-container {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    padding: 20px;
    scroll-snap-type: x mandatory;
}

.carrusel-img {
    flex: 0 0 auto;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrusel-img:last-child {
    margin-right: 0;
}

.carrusel-img img {
    max-height: 80vh;
    object-fit: contain;
}

/* Estilos de la Galería */

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.gallery-photo {
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    overflow: hidden;
    max-width: 300px;
}

.gallery-photo img {
    width: 95%;
    border: 1.5px solid black;
    object-fit: scale-down;
}

.gallery-photo:hover {
    transform: scale(1.05);
}

/* Estilos del Modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
}

.modal-content {
    max-width: 99%;
    max-height: 99vh;
    margin: auto;
    display: block;
    align-items: center;
    object-fit: contain;
}

.modal-close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #faf8f5;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* Estilos para los botones del modal con íconos minimalistas */

.modal button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px; /* Tamaño de los íconos */
}

.modal button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.modal .fa-arrow-right, .modal .fa-arrow-left {
    color: #333; /* Color de los íconos */
}

.modal .fa-arrow-right {
    right: 10px;
}

.modal .fa-arrow-left {
    left: 10px;
}

/* Estilos de la Sección de Información del Modelo */

.model-info {
    background-color: #eaeaea; /* Cambiado a gris claro */
    color: #333; /* Cambiado a gris oscuro */
    padding: 20px;
    text-align: center;
    margin: 20px 0;
}

.model-info-text {
    font-size: 1.7em;
    margin: 10px 0;
    vertical-align: middle;
}

.model-info-link {
    font-family: 'Playfair Display', serif;
    color: #333;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
    font-size: 1.7em;
    vertical-align: middle;
}

.model-info-link:hover, .model-info-link:focus {
    transform: scale(1.05);
    color: #d4af37; /* Dorado para hover */
}

.instagram-icon {
    color: #333;
    margin-right: 5px;
    transition: color 0.3s ease;
    font-size: 1.8em;
    vertical-align: middle;
}

.instagram-icon:hover, .instagram-icon:focus {
    color: #d4af37;
}

.contact-section .fas.fa-envelope {
    color: #d4af37;
    font-size: 1.5em;
}

/* Estilos de la Sección de Contacto */

.contact-section {
    background-color: #eaeaea; /* Cambiado a gris claro */
    color: #333; /* Cambiado a gris oscuro */
    padding: 20px;
    text-align: center;
}

.contact-section-title {
    font-size: 2.3em;
    margin-bottom: 20px;
}

.contact-section-text {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.contact-section a {
    color: #333;
    font-size: 1.6em;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.contact-section a:hover, .contact-section a:focus {
    color: #d4af37; /* Dorado para hover */
    transform: scale(1.05);

}

/* Estilos del Footer */

.site-footer {
    background-color: #eaeaea; /* Color de fondo gris claro para coincidir con el sitio */
    color: #333; /* Color de texto gris oscuro */
    font-size: 1.2em;
    padding: 10px 0;
    text-align: center; /* Centrar el contenido del footer */
    font-family: 'Playfair Display', serif; /* Asegúrate de que la fuente coincida con el sitio */
}

/* Media Queries para Responsividad */

@media (max-width: 1024px) {

      .modal-content {
        max-width: 95%;
        max-height: 95vh;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
    }
    

    .model-info-text {
        font-size: 1.5em; /* Tamaño para tablets y dispositivos más pequeños */
    }
    .instagram-icon {
        font-size: 1.2em; /* Tamaño para tablets y dispositivos más pequeños */
    }

    .model-info-link {
        font-size: 1.5em; /* Tamaño para tablets y dispositivos más pequeños */
    }

    .contact-section .fas.fa-envelope {
        margin-right: 10px; /* Espaciado entre el ícono y el texto */
        color: #d4af37; /* Color del ícono, ajusta según tu esquema de color */
        font-size: 1.2em; /* Tamaño del ícono */
    }
}

@media (max-width: 768px) {

    .container-header h1 {
        margin: 0 20px; /* Espaciado alrededor del nombre */
        font-size: 1.8em; /* Tamaño del título */
        color: #333;
    }

    .social-links a {
        margin: 0 10px;
        color: #333;
        font-size: 1.9em;
    }
 
    .carrusel-container {
        justify-content: flex-start; /* Reestablece la alineación para pantallas más grandes si es necesario */
    }

    .carrusel-img {
        width: 100%;
    }
    
    .carrusel-img:first-child {
        margin-left: auto; /* Centra el primer elemento del carrusel */
    }

    .carrusel-img:last-child {
        margin-right: auto; /* Centra el último elemento del carrusel */
    }

    .gallery-photo {
        max-width: 150px;
    }

    .modal-content {
        max-width: 95%;
        max-height: 95vh;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
    }

    .modal-content, .modal-close {
        width: 90%;
        max-width: 400px;
    }

    .model-info-text {
        font-size: 1.2em; /* Tamaño reducido para dispositivos móviles */
    }

    .instagram-icon {
        font-size: 1em; /* Tamaño reducido para dispositivos móviles */
    }

    .model-info-link {
        font-size: 1.2em; /* Tamaño reducido para dispositivos móviles */
    }

    .contact-section-title {
        font-size: 1.5em;
    }

    .contact-section a {
        font-size: 1em;
    }

    .contact-section .fas.fa-envelope {
        margin-right: 10px; /* Espaciado entre el ícono y el texto */
        color: #d4af37; /* Color del ícono, ajusta según tu esquema de color */
        font-size: 1em; /* Tamaño del ícono */
        vertical-align: middle;
    }
    
    .site-footer {
        font-size: 0.7em; /* Tamaño de fuente ligeramente más grande para pantallas más pequeñas */
    }
}

@media (max-width: 480px) {

    .container-header h1 {
        margin: 0 20px; /* Espaciado alrededor del nombre */
        font-size: 1.4em; /* Tamaño del título */
        color: #333;
    }

    .social-links a {
        margin: 0 10px;
        color: #333;
        font-size: 1.4em;
    }
    .carrusel-img img {
        max-height: 60vh;
        width: 99%;
        margin-top: 5px;
        align-items: center;
    }

    .modal-content {
        max-width: 95%;
        max-height: 95vh;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
    }

    .model-info-title {
        font-size: 1.2em; /* Tamaño más pequeño para pantallas muy pequeñas */
    }

    .model-info-text {
        font-size: 1em; /* Tamaño más pequeño para pantallas muy pequeñas */
    }

    .instagram-icon {
        font-size: 0.8em; /* Tamaño más pequeño para pantallas muy pequeñas */
    }

    .model-info-link {
        font-size: 1em; /* Tamaño más pequeño para pantallas muy pequeñas */
    }

    .contact-section-title, .contact-section-text {
        font-size: 1.2em;
        vertical-align: middle;
    }

    .contact-section a {
        font-size: 1em;
        vertical-align: middle;
    }

    .contact-section .fas.fa-envelope {
        margin-right: 10px; /* Espaciado entre el ícono y el texto */
        color: #d4af37; /* Color del ícono, ajusta según tu esquema de color */
        font-size: 0.6em; /* Tamaño del ícono */
        vertical-align: middle;
    }

    .site-footer {
        font-size: 0.6em; /* Tamaño de fuente ligeramente más grande para pantallas más pequeñas */
    }
}